#filter {
  background-color: #fdf0e8;
  width: 20%;
}

#filter .inside {
  padding: 20px;
  max-width: 300px;
}

#filter h4 {
  font-size: 0.9rem;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 500;
}

#filter select {
  background-color: transparent;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #1b1b1b;
  display: block;
  margin-bottom: 25px;
  width: 100%;
}

.filters{
  padding: 10px;
}

.filters .title{
  display: block;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #ada8aa;
  text-transform: capitalize;
}

.filters input[type="text"] {
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.4rem;
  display: inline-block;
  width: 35%;
  margin-right: 2.5%;
}

.filters.extras label{
  display: block;
  width: 100%;
  padding: 10px 0;

}

.filters.extras label input[type="checkbox"]{
  float: right;
}




