#listings{
  width: 70%;
  display: inline-block;
  padding: 15px;
}

#listings .search-area input[type="text"]{
  width: 80%;
  background: transparent;
  font-size: 2rem;
  border: none;
  border-bottom: 2px solid #d1cbcd;
  margin-bottom: 20px;
  color: #d1cbcd;
}

#listings .sortby-area{
  margin-bottom: 20px;
}

#listings .sortby-area .results{
  font-size: 0.8rem;
  color: #d1cbcd;
  display: inline-block;
}

#listings .sortby-area .sort-options{
  float: right;
}

#listings .sortby-area .sort-options select {
  font-size: 0.9rem;
  font-weight: 300;
  border: 1px solid #d1cbcd;
  border-radius: 5px;
  background-color: transparent;
  padding: 3px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}
#listings .sortby-area .sort-options .view{
  display: inline-block;
}

#listings .sortby-area .sort-options .view .fas{
  font-size: 1.6rem;
  margin-right: 15px;
}

